ul {
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    padding: 50px;
}
.menu__link {
    background: rgb(255, 230, 197);
    font-size: 20px;
    border: 1px solid #929292;
    padding: 5px 10px;
}
.menu a {
    text-decoration: none;
}

.menu__list {
    display: flex;
}

.menu__list>li {
    margin: 0;
    margin-right: 10px;
}

.menu__list>li:hover .sub-menu__list {
    display: block;
}

.menu li {
    position: relative;
    list-style: none;
}

.menu__link {
    color: #000000;
}

.sub-menu__link {
    color: rgb(0, 0, 0);
    padding: 5px 10px;
}

.sub-menu__list {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background: rgb(255, 230, 197);
    min-width: 150px;
    border: 1px solid #929292;

}

.sub-menu__list>li:hover .sub-sub-menu__list {
    display: block;
}

.sub-sub-menu__list {
    position: absolute;
    top: 0;
    left: 100%;
    background: rgb(255, 230, 197);
    min-width: 150px;
    display: none;
    border: 1px solid #929292;

}

.sub-sub-menu__link {
    color: rgb(0, 0, 0);
    padding: 5px 10px;

}