.blogs__wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin-bottom: 100px;
    margin-top: 150px;
}

.blog:after {
    transition: all .5s;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background: #ffffff;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
}

.blogs__wrapper:hover .blog:after {
    opacity: 0.4;
}

.blogs__wrapper .blog:hover::after {
    opacity: 0;
}

.blog:hover .blog__img {
    transform: scale(1.2) translateY(20px) rotate(3deg);
}

.blog:hover {
transform: translateY(10px);
}

.blog {
    width: 325px;
    height: 325px;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    transition: all .5s;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.blog__img {
    position: absolute;
    width: 325px;
    height: 325px;
    border-radius: 20px;
    top: 0px;
    left: 0px;
    right: 0;
    z-index: -1;
    transition: all .5s;
    bottom: 0;
}

.blog::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.95));
    border-radius: 20px;
}

.blog__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.blog__date {
    color: #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-weight: 500;
}

.blog__title {
    color: #fff;
    margin-top: 20px;
}

.blog__details {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
    margin-top: 60px;
    flex-wrap: wrap;
    font-size: 12px;
    ;
}

.blog__detail {
    width: calc(50% - 49px);
}

.blog__link {
    background: #db9d2cc2;
    color: #fff;
    font-weight: 500;
    display: block;
    text-align: center;
    padding: 7px 0;
    border-radius: 8px;
    margin-top: 5px;
    transition: all .7s;
}
 .blog__link:hover {
    background: #fff;
    color: #000;
}